# Numbers in Python <a name="top"></a>
* [1 - Integer and Float Data Types](#chapter1)
    * [1.1 - Integer](#section_1_1)
    * [1.2 - Float](#section_1_2)
* [2 - Basic Mathematical Operations](#chapter2)
    * [2.1 - Addition](#section_2_1)
    * [2.2 - Subtraction](#section_2_2)
    * [2.3 - Multiplication](#section_2_3)
    * [2.4 - Division](#section_2_4)

* [3 - Defining Variables](#chapter3)
* [4 - Comment Lines](#chapter4)
    * [4.1 - Single-Line Comments](#section_4_1)
    * [4.2 - Multi-Line Comments](#section_4_2)
* [5 - Examples](#chapter5)

## 1 - Integer and Float Data Types <a class="anchor" id="chapter1"></a>

### 1.1 - Integer <a id="section_1_1"></a>
All the numbers (negative, zero or positive) are integer in the math. <br />
**For example:** -100, 34, 2, 0

[Back to Table of Contents](#top)

### 1.2 - Float <a id="section_1_2"></a>
Floats are one of the vary of numbers like integers. <br />
**For example:** 3.<u>14</u>, 3.<u>55456</u>, -13.<u>54</u>

[Back to Table of Contents](#top)

## 2 - Basic Mathematical Operations <a id="chapter2"></a>

### 2.1 - Addition <a id="section_2_1"></a>

In [5]:
3 + 4

7

In [18]:
4.6 + 5.1

9.7

[Back to Table of Contents](#top)

### 2.2 - Subtraction <a id="section_2_2"></a>

In [6]:
5 - 17

-12

In [19]:
13.4 - 4.9

8.5

[Back to Table of Contents](#top)

### 2.3 - Multiplication <a id="section_2_3"></a>

In [7]:
13 * 4

52

In [20]:
25.6 * 2.7

69.12

[Back to Table of Contents](#top)

### 2.4 - Division <a id="section_2_4"></a>

In [8]:
4 / 2

2.0

In [21]:
89.4 / 5.3

16.867924528301888

[Back to Table of Contents](#top)

## 3 - Defining Variables <a id="chapter3"></a>
The variables keep data which is one of the data types. <br />
**For example:**

In [10]:
i = 10

In [11]:
i

10

In [12]:
i * i * i

1000

<u> There are some important points when you define a variable: </u> <br /> <br />**1.** The name of variables cannot start a number. <br />
**Wrong Using:**

In [13]:
5a = 12

SyntaxError: invalid decimal literal (775849503.py, line 1)

**2.** The name of variables cannot include a space (` `) character. <br />
**Wrong Using:**

In [14]:
name of course = "Introduction to Python"

SyntaxError: invalid syntax (1493620000.py, line 1)

**3.** The symbols (`:'",<>/?|\()!@#$%^&*~-+`) cannot be used defining variables. <br />
<u>Note:</u> You can use just underline (`_`) symbol. <br />
**Wrong Using:**
`a? = 5` <br />
**Correct Using:**
`_a = 4`

**4.** Keywords (`while, not, if`) defined in Python cannot be used when defining variables <br />
**Wrong Using:**

while = 5

[Back to Table of Contents](#top)

## 4 - Comment Lines <a id="chapter4"></a>

You use comment lines when you want to add comments to the program you are developing. If comment lines are used in a program, they are not executed by Python.

### 4.1 - Single-Line Comments <a id="section_4_1"></a>
The symbol `#` is used for single-line comments.

In [2]:
# Single-Line Comments 
# Using "print()" function to write a value on the screen. 
print("Emirhan")

Emirhan

### 4.2 - Multi-Line Comments <a id="section_4_2"></a>
The symbol `"""` is used for multi-line comments.

In [1]:
"""
Multi-Line Comments
Use the "print(value)" function to write a "value" on the screen.
"""
print("Emirhan")

Emirhan

[Back to Table of Contents](#top)

## 5 - Examples <a id="chapter5"></a>

**Ex 1:**

In [22]:
a = 4
b = 3
c = a + 2 * b

In [23]:
c

10

**Ex 2:** Let's calculate circumference of a circle using we learned.

In [28]:
pi_number = 3.14
diameter = 4
circumference = pi_number * diameter
print(circumference)

12.56

**Note 1:** There is a practical way for the changing values of two variable in Python.

In [30]:
a = 4
b = 3
print(a, b)

4 3

In [31]:
a, b = b, a

In [32]:
print(a, b)

3 4

**Note 2:** Finally, let's see how to increase the value of a variable.

In [33]:
a = 10
print(a)

10

In [36]:
a += 1 # This is the same as a = a + 1.

In [35]:
print(a)

11

[Back to Table of Contents](#top)